Coorte.WebApi/bin/Debug/netcoreapp2.1/Coorte.WebApi.deps.json
Coorte.WebApi/bin/Debug/netcoreapp2.1/Coorte.WebApi.pdb
Coorte.WebApi/bin/Debug/netcoreapp2.1/Coorte.WebApi.dll
.vscode/tasks.json
.vscode/launch.json
Coorte.WebApi/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Coorte.WebApi/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Coorte.WebApi/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Coorte.WebApi/obj/Debug/netcoreapp2.1/Coorte.WebApi.csprojAssemblyReference.cache
Coorte.WebApi/obj/Debug/netcoreapp2.1/Coorte.WebApi.csproj.FileListAbsolute.txt
Coorte.WebApi/obj/Debug/netcoreapp2.1/Coorte.WebApi.csproj.CoreCompileInputs.cache
Coorte.WebApi/obj/Debug/netcoreapp2.1/Coorte.WebApi.assets.cache
Coorte.WebApi/obj/Debug/netcoreapp2.1/Coorte.WebApi.RazorTargetAssemblyInfo.cache
Coorte.WebApi/obj/Debug/netcoreapp2.1/Coorte.WebApi.RazorAssemblyInfo.cs
Coorte.WebApi/obj/Debug/netcoreapp2.1/Coorte.WebApi.RazorAssemblyInfo.cache
Coorte.WebApi/obj/Debug/netcoreapp2.1/Coorte.WebApi.AssemblyInfoInputs.cache
Coorte.WebApi/obj/Debug/netcoreapp2.1/Coorte.WebApi.AssemblyInfo.cs
Coorte.WebApi/obj/Debug/netcoreapp2.1/Coorte.WebApi.pdb
Coorte.WebApi/obj/Debug/netcoreapp2.1/Coorte.WebApi.dll
Coorte.WebApi/bin/Debug/netcoreapp2.1/Coorte.WebApi.runtimeconfig.dev.json
Coorte.WebApi/bin/Debug/netcoreapp2.1/Coorte.WebApi.runtimeconfig.json
Coorte.WebApi/bin/Debug/netcoreapp2.1/Coorte.WebApi.deps.json
Coorte.WebApi/obj/Coorte.WebApi.csproj.nuget.cache
Coorte.WebApi/obj/Coorte.WebApi.csproj.nuget.g.props
Coorte.WebApi/obj/project.assets.json
